@page
@model Notifier.Pages.Rules.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NotificationRule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NotificationRule.BeforeAfterDate" class="control-label"></label>
                <select asp-for="NotificationRule.BeforeAfterDate" asp-items="Html.GetEnumSelectList<TimeShare>()" class="form-control"></select>
                <span asp-validation-for="NotificationRule.BeforeAfterDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.TransactionDateFilter" class="control-label"></label>
                <input asp-for="NotificationRule.TransactionDateFilter" class="form-control" />
                <span asp-validation-for="NotificationRule.TransactionDateFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.BeforeAfterTime" class="control-label"></label>
                <select asp-for="NotificationRule.BeforeAfterTime" asp-items="Html.GetEnumSelectList<TimeShare>()" class="form-control"></select>
                <span asp-validation-for="NotificationRule.BeforeAfterTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.TransactionTimeFilter" class="control-label"></label>
                <input asp-for="NotificationRule.TransactionTimeFilter" class="form-control" />
                <span asp-validation-for="NotificationRule.TransactionTimeFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.LocationFilter" class="control-label"></label>
                <input asp-for="NotificationRule.LocationFilter" class="form-control" />
                <span asp-validation-for="NotificationRule.LocationFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.DepositWithdrawlFilter" class="control-label"></label>
                <select asp-for="NotificationRule.DepositWithdrawlFilter" asp-items="Html.GetEnumSelectList<DepoType>()" class="form-control"></select>
                <span asp-validation-for="NotificationRule.DepositWithdrawlFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.MoreLessEqualTrans" class="control-label"></label>
                <select asp-for="NotificationRule.MoreLessEqualTrans"  asp-items="Html.GetEnumSelectList<NumComparator>()" class="form-control"></select>
                <span asp-validation-for="NotificationRule.MoreLessEqualTrans" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.TransAmountFilter" class="control-label"></label>
                <input asp-for="NotificationRule.TransAmountFilter" class="form-control" />
                <span asp-validation-for="NotificationRule.TransAmountFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificationRule.DescriptionFilter" class="control-label"></label>
                <input asp-for="NotificationRule.DescriptionFilter" class="form-control" />
                <span asp-validation-for="NotificationRule.DescriptionFilter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
