@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <style>
        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-image: url("https://i.imgur.com/CXYEAds.png");
        }

        .white {
            color: white;
        }

        .fade-in {
            animation: fadeInAnimation ease 4s;
        }

        .appear {
            animation: appear 0s 1.5s forwards;
            visibility: hidden;
        }

        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: rgba(79,168,0,.75);
        }

        .white {
            color: white;
        }

        .fade-in {
            animation: fadeInAnimation ease 4s;
        }

        .appear {
            animation: appear 0s 1.5s forwards;
            visibility: hidden;
        }

        @@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
        .btnhome {
            text-align:center;
            padding: 10px;
            width: 225px;
            border: solid 1px;
            border-radius: 5px;
            border-color: black;
            background-color: darkgreen;
            color: white;
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
        }

        input:hover {
            color: black;
            opacity: .75;
            cursor: pointer;
        }
        .top{
            margin-top: 25px;
        }
        .back{
            color: blue;
        }
        .back:hover{
            color:indigo;
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <header></header>
    <div>
        <div>
            <div>
                <div class="text-center">
                    <h1 class="top">Rule Settings</h1>
                    <h4>Select a Rule</h4>
                    @if ((HttpContext.User != null) && (HttpContext.User.Identity.IsAuthenticated))
                    {
                        <a class="nav-link white" asp-page="/Rules/Location/Index"><input class="btnhome" value="Rules based off Location" /></a>
                        <a class="nav-link white" asp-page="/Rules/Description/Index"><input class="btnhome" value="Rules based off Store" /></a>
                        <a class="nav-link white" asp-page="/Rules/Time/Index"><input class="btnhome" value="Rules based off Time" /></a>
                        <a class="nav-link white" asp-page="/Rules/Amount/Index"><input class="btnhome" value="Rules based off Amount" /></a>
                        <a class="nav-link white" asp-page="/Rules/Misc/Index"><input class="btnhome" value="Miscellaneous Rules" /></a>
                        <a class="back" asp-page="/Notifications/Index">Back to Notifications</a>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
