@page
@model Notifier.Pages.Rules.Location.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        body {
            background-image: url("https://i.imgur.com/CXYEAds.png");
        }
        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }

        a {
            color: blue;
        }

        a:hover {
            color: indigo;
            text-decoration: underline;
        }

        .btnhome:hover {
            color: black;
            background-color: green;
            cursor: pointer;
        }

        .btnhome {
            text-align: center;
            padding: 10px;
            width: 125px;
            border: solid 1px;
            border-radius: 5px;
            border-color: black;
            background-color: darkgreen;
            color: white;
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }
    </style>
</head>

<h1>Edit</h1>

<h4>LocationRule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationRule.LocationRuleID" />
            <div class="form-group">
                <label asp-for="LocationRule.OwnerID" class="control-label"></label>
                <input asp-for="LocationRule.OwnerID" class="form-control" />
                <span asp-validation-for="LocationRule.OwnerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationRule.location" class="control-label">Location</label>
                <input asp-for="LocationRule.location" class="form-control" />
                <span asp-validation-for="LocationRule.location" class="text-danger"></span>
            </div>
            <div class="form-group back">
                <input type="submit" value="Save" class="btnhome" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
