@page
@model Notifier.Pages.Rules.Location.IndexModel

@{
    ViewData["Title"] = "Location Settings";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
        body {
            background-image: url("https://i.imgur.com/CXYEAds.png");
        }

        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }

        a {
            color: blue;
        }

            a:hover {
                color: indigo;
                text-decoration: underline;
            }


        input:hover {
            color: black;
            opacity: .75;
            cursor: pointer;
        }

        .btnhome {
            text-align: center;
            padding: 10px;
            width: 125px;
            border: solid 1px;
            border-radius: 5px;
            border-color: black;
            background-color: darkgreen;
            color: white;
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }

        table {
            background-color: white;
        }

        th {
            background-color: white;
            color: black;
        }

        tr:nth-child(odd) {
            background-color: #006747;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #006747;
            opacity: .8;
            color: white;
        }

        .details {
            color: #FFB300;
            text-decoration: underline;
        }

            .details:hover {
                color: indigo;
            }
    </style>
</head>

<h1>Locations Being Tracked</h1>

<p>
    <a class="nav-link white" asp-page="Create"><input class="btnhome" value="Create New" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LocationRule)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    <a class="details" asp-page="./Edit" asp-route-id="@item.LocationRuleID">Edit</a> |
                    <a class="details" asp-page="./Details" asp-route-id="@item.LocationRuleID">Details</a> |
                    <a class="details" asp-page="./Delete" asp-route-id="@item.LocationRuleID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-page="/Rules/Index">Back to Rules</a>
