@page
@model Notifier.PagesTransactions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<head>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>
    body { background-image: url("https://i.imgur.com/pc3vi80.png"); }
        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }

        .btnhome {
            text-align: center;
            padding: 10px;
            width: 100px;
            border: solid 1px;
            border-radius: 5px;
            border-color: black;
            background-color: darkgreen;
            color: white;
            margin-top: 5px;
            font-family: 'Poppins', sans-serif;
            font-size: 13px;
        }

            .btnhome:hover {
                color: black;
                background-color: green;
                cursor: pointer;
            }

        .link {
            text-decoration: underline;
            color: blue;
        }

        .link:hover {
            color: indigo;
        }

    </style>

</head>


<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Transaction.TransactionDate" class="control-label"></label>
                <input asp-for="Transaction.TransactionDate" class="form-control" />
                <span asp-validation-for="Transaction.TransactionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Location" class="control-label"></label>
                <input asp-for="Transaction.Location" class="form-control" />
                <span asp-validation-for="Transaction.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.DepositWithdrawl" class="control-label"></label>
                <select asp-for="Transaction.DepositWithdrawl" asp-items="Html.GetEnumSelectList<DepoType>()" class="form-control"></select>
                <span asp-validation-for="Transaction.DepositWithdrawl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.TransAmount" class="control-label"></label>
                <input asp-for="Transaction.TransAmount" class="form-control" />
                <span asp-validation-for="Transaction.TransAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transaction.Description" class="control-label"></label>
                <input asp-for="Transaction.Description" class="form-control" />
                <span asp-validation-for="Transaction.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btnhome" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="link" asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
