@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="login">
    <div class="text-center">
        <h1 class="display-4">Commerce Banking App</h1>
        <p><a class="nav-link text-blue" asp-area="Identity" asp-page="/Account/Login">Click Me To Login Here</a></p>
    </div>
</div>
