@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <style>

        a.header           

        a, p {
            font-family: 'Open Sans', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: rgba(79,168,0,.75);
        }

        .white {
            color: white;
        }

        .fade-in {
            animation: fadeInAnimation ease 4s;
        }

        .appear {
            animation: appear 0s 1.5s forwards;
            visibility: hidden;
        }

        @@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        @@keyframes appear {
            to {
                visibility: visible;
            }
        }

        .btnhome {
            padding: 10px;
            width: 200px;
            border: solid 1px;
            border-radius: 5px;
            border-color: black;
            background-color: darkgreen;
            color: white;
            margin-top: 50px;
            font-family: 'Poppins', sans-serif;
        }

        input:hover {
            color: black;
            opacity: .75;
            cursor: pointer;
        }

        .vcenter {
            position: absolute;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center; /* add to align horizontal */
            align-items: center; /* add to align vertical */
        }

        .logo {
            margin-top: -50px;
            padding-left: 140px;
            padding-bottom: 50px;
        }
    </style>
</head>

<body>
    <header></header>
    <div>
        <div class="vcenter">
            <div>
                <div class="logo">
                    <img src="https://i.imgur.com/D0D9grU.png" height="100" length="500" />
                </div>
                <div class="text-center">
                    <h1 class="display-4 fade-in">Welcome!</h1>
                    <h1 class="display-4 appear">Commerce Banking App</h1>
                    @if ((HttpContext.User != null) && (HttpContext.User.Identity.IsAuthenticated))
                    {
                        <a class="nav-link white" asp-page="/Transactions/Index"><input class="btnhome" value="Click Me To Login Here" /></a>
                    }
                    else
                    {
                        <a class="nav-link white" asp-area="Identity" asp-page="/Account/Login"><input class="btnhome" value="Click Me To Login Here" /></a>
                    }

                </div>
            </div>
        </div>
    </div>
</body>
