@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div>
    <form method="post" action="">
        <button type="submit" asp-page-handler="Help">Build</button>
    </form>
</div>

<p>Use this page to detail your site's privacy policy.</p>
