@page
@model Notifier.Pages.Rules.Misc.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Configure</h1>

<h4>Miscellaneous Rules</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MiscRule.MiscRuleID" />
            <input type="hidden" asp-for="MiscRule.OwnerID" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MiscRule.wantOverdraft" /> @Html.DisplayNameFor(model => model.MiscRule.wantOverdraft)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MiscRule.wantAllDeposit" /> @Html.DisplayNameFor(model => model.MiscRule.wantAllDeposit)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MiscRule.wantAllWithdraw" /> @Html.DisplayNameFor(model => model.MiscRule.wantAllWithdraw)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Rules/Index">Back to Rules</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
